/* p{
    font-family: ubuntu;
    border: 2px solid;
}

button{
    border: none;
} */

#button{
    width: 50px;
    height: 35px;
    border: 1px solid;
    text-align: center;
    background-color: #e1ebe4;
    box-sizing: border-box;
    margin: 10px;
}

#container{
    display: flex;
}